body {
    margin: 0;
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.wrapper-left {
    background-color: blueviolet;
}

.image {
    background-color: darkgoldenrod;
}

.wrapper-right {
    background-color: coral;
}

[class^="wrapper-"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    overflow: auto;
    gap: 5px;
}

[class^="wrapper-"] {
    width: 49.5%;
    margin: 5px;
}

@media screen and (max-width: 1450px) {
    [class^="wrapper-"] {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
    }
}

@media screen and (max-width: 960px) {
    [class^="wrapper-"] {
        flex: 0 0 475px;
        margin: 5px
    }
}