body {
    margin: 0;
}

div.container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 330px 85%;
}

sidebar.left {
    background-color: aquamarine;
}

main.images-container {
    display: flex;
    flex-wrap: wrap;
}

div.image-wrapper {
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    flex-grow: 1;
    margin: 2px;
}