body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

[class^="part-"] {
    flex: 0 0 400px;
}

.part-1 {
    background-color: aliceblue;
}

.part-2 {
    background-color: aqua;
}

.part-3 {
    background-color: bisque;
}

.part-4 {
    background-color: blanchedalmond;
}

@media screen and (max-width: 1600px) {
    .part-3 {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .part-2 {
        display: none;
    }
}